<h1><%= @user[:name] %></h1>
<p><%= @user[:username] %></p>
<ul>
  <li>name     : <%= @user[:name] %></li>
  <li>username : <%= @user[:username] %></li>
  <li>Location : <%= @user[:location] %></li>
  <li>About    : <%= @user[:about] %></li>
</ul>
