<h1>Gunclocks#edit</h1>
<%= form_for @gunclock, :url => {:action => 'update' } do |f| %>
 <%= f.label :size %>
<!-- <%= f.text_field :size %> -->
 
<!-- < f.select :size, @gunclocks.map{|g| [g.size, g.size]} %> -->
 <%= f.number_field :size, min: 5, max:99 %> (5-99) <br>

 <%= f.label :color %>
 <%= f.text_field :color, class:'colorpicker' %> <br>
 <%= f.submit %>
<% end %>
